body{
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_verde.jpg');
}
nav{
    display: flex;
    background-color: black;
    width: 100%;
    
}
.logo, img{
    position: relative;
    height: 70px;
    padding-right: 15%;
}
nav, a{
    text-decoration: none;
    color: green;
}
.caja_nav{
    padding: 5px;
}
#photo_cara{
    height: 60vh ;
    width: 40vh ;
    background-color: black;
    margin-left: 20%;
    color: green;
    text-align: center; 
    
}
.imagen{
    background-color: black;
}